{% extends "bootstrap/base.html" %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Where's it raining?{% endblock %}</title>
    {% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,700&display=swap" rel="stylesheet"> 
    {% endblock %}
  </head>
{% block content %}
<div class="bg" style="background-image: url({{ url_for('static', filename='rain-bg.jpg') }}); height:100vh;">
    <div class="p-3 mb-2" id="page-wrapper" style=" margin: auto;width: 60%; padding: 10px;">
        <div class="container-fluid">
      <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    <div style="margin-top: 10%;"></div>
                    <h1 style="font-family: 'Noto Serif', serif; font-weight:700; font-size:6em; color:white; text-shadow: 2px 2px 8px black;">
                        {% if weather_string %}
                        {{ weather_string }}
                        {% endif %}
                    </h1>
                    <div style="margin-top: 30%;"></div>
                    <button type="button" onClick="window.location.reload();">Where's it raining?</button>
                </div>
            </div>
      <!-- /.row -->
        </div>
  <!-- /.container-fluid -->

    </div>
</div>
{% endblock %}
</html>